.about {
  display: flex;
  flex-direction: column;
  text-align: center;
}
p {
  letter-spacing: 0.1rem;
}
a {
  text-decoration: none;
}
.git-icon {
  background-color: black;
  color: white;
  padding: 15px 35px;
  font-size: 50px;
  border-radius: 5px;
}
