.subtotal {
  border: 1px solid rgb(173, 169, 169);
  text-align: left;
  padding: 5px 10px;
}
span {
  font-weight: bold;
}
.subtotal-btn {
  display: flex;
  justify-content: space-between;
}
.checkout-btn {
  border: none;
  background-color: black;
  color: white;
  padding: 20px 35px;
  text-transform: uppercase;
  margin: 10px;
  cursor: pointer;
}
.clear-btn {
  border: none;
  padding: 15px;
  color: crimson;
  background-color: transparent;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-right: 25px;
  cursor: pointer;
  font-weight: bold;
}
